{% extends "try.html" %}

{% block myCode %}
<!-- <link rel="stylesheet" href="/static/css/style.css"> -->
<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
    <CEnter>
      VIEW customer bills
      </CEnter>
    <h2 class="fonts"></h2>
<table  class="table table-striped">
  <thead class="table-primary">
    <tr >
      <th >Customers Mobile number</th>
      <th >Current Plan</th>
      <th >Extra call charges</th>
      <th >Extra sms charges</th>
      <th >Extra data charges</th>
      <th >Total bill</th>
      <th >Date/Time</th>

      
    </tr>
  </thead>
  <tbody>
    {% for i in data %}
    <tr >
      <td >{{ i.mobile }}</td>
      <td >{{ i.curplancharge}}</td>
      <td >{{ i.extracallcharge }}</td>
      <td >{{ i.extrasmscharge }}</td>
      <td >{{ i.extradatacharges }}</td>
      <td >{{ i.totalamount }}</td>
      <td >{{ i.currdate }}</td>

      </tr>
      {% endfor %}
  </tbody>
</table> </div>
<div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>




</div>
</div>
  </div>
</div>
      {% endblock  %}