.wrapper{
    width: 700px;
    background: linear-gradient(gray,white);
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    opacity: 1.0;
  }
  button.btn1 form-control{
	  color: blue;
  }